# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app
*.out
### CMake template
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Idea
.idea/
cmake-build-debug/
cmake-build-release/
cmake-build*

# VS code
.vscode/


.gradle
build
.devcontainer


# testing
input*
inp
out 
output*
my_out
myout
my_out
in
in1
in2
in3
in4
in5
in6
in7
in8
in9
answer
ans
myans
ans1
ans2
ans3
out1
out2
out3
tmp.txt
test.txt

table.txt

dataset*

# piet
*.png

# lua
*.luac


# f#
obj/
bin/

# ocaml
*.cmi
*.cmx 

# coq
*.aux
*.glob
*.vo
*.vok
*.vos

# java, kotlin
*.class
META-INF/


# gradle
gradle/
